{% extends "layout.html" %} {% block content %}
<h1 class="body-title">
    FRC Team Data
</h1>


<!-- Total Values -->
<div class="graphBlock">
    <h2 class="graphBlock-title">Total Points Throughout the Event</h2>
    <div id="subplots" class="chart"></div>
    <table id="subplots_table">
        <tr id="subplots_row">
            <td id="subplots_cell">
                <div id="totalAutoPoints" class="chart"></div>
            </td>
            <td id="subplots_cell">
                <div id="totalTeleOpPoints" class="chart"></div>
            </td>
        </tr>
        <tr id="subplots_row">
            <td id="subplots_cell">
                <div id="totalEndgamePoints" class="chart"></div>
            </td>
            <td id="subplots_cell">
                <div id="totalFoulCount" class="chart"></div>
            </td>
        </tr>
        <tr id="subplots_row">
            <td id="subplots_cell">
                <div id="totalFoulPoints" class="chart"></div>
            </td>
            <td id="subplots_cell">
                <div id="totalEnemyTOPoints" class="chart"></div>
            </td>
        </tr>
    </table>
    <div id="totalPoints" class="chart"></div>
</div>


<!-- Endgame Bar Graph -->
<div class="graphBlock">
    <h2 class="graphBlock-title">Team Specific Endgame</h2>
    <label for="teams">Choose a team...</label>
    <select name="teams" id="teams" onchange="onSelection()">
        {% for team in teamsDone %}
            <option value="{{ team }}">{{ team }}</option>
        {% endfor %}
    </select>
    <div id="endgame" class="chart"></div>
</div>


<!-- Table of All Data -->
<div class="graphBlock">
    <h2 class="graphBlock-title">All Data</h2>
    <div id="dataTable" class="chart"></div>
</div>


<!-- Sample Graph -->
<!-- <div class="graphBlock">
    <h2 class="graphBlock-title">Sample Graph</h2>
    <div id="sampleGraph" class="chart"></div>
</div> -->



<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<script src="https://cdn.plot.ly/plotly-2.9.0.min.js"></script>
<script type="text/javascript">
    var TOTALPOINTS = {
        {
            totalPoints_teams
        }
    };
    var TOTALAUTO = {
        {
            totalAutoPoints
        }
    };
    var TOTALTELEOP = {
        {
            totalTeleOpPoints
        }
    };
    var TOTALENDGAME = {
        {
            totalEndgamePoints
        }
    };
    var TOTALFOULCOUNT = {
        {
            totalFoulCount
        }
    };
    var TOTALFOULPOINTS = {
        {
            totalFoulPoints
        }
    };
    var TOTALENEMYTO = {
        {
            totalEnemyTOPoints
        }
    };
    var NOSTRINGTEAMINFO = {
        {
            noStringTeamInfo
        }
    };
    var TEAMSELECTED = null;

    function totalPoints() {
        return TOTALPOINTS;
    }

    function totalAuto() {
        return TOTALAUTO;
    }

    function totalTeleOp() {
        return TOTALTELEOP;
    }

    function totalEndgame() {
        return TOTALENDGAME;
    }

    function totalFoulCount() {
        return TOTALFOULCOUNT;
    }

    function totalFoulPoints() {
        return TOTALFOULPOINTS;
    }

    function totalEnemyTeleOp() {
        return TOTALENEMYTO;
    }

    function noStringTeamInfo() {
        return NOSTRINGTEAMINFO;
    }
</script>
<script src="{{ url_for('static', filename='graphing.csv') }}" "></script>
{% endblock %}